:host {
  background-color: #fff;
  border: 1px solid black;
  height: 200px;
  width: 200px;

  .ball {
    border-radius: 100%;
    height: 100%;
    width: 100%;

    &.active {
      background-color: red;
    }

    &.intermediate {
      background-color: lighten($color: red, $amount: 25%);
    }
  }
}
